.DS_Store
.Rhistory
.RData
.Rproj.user/
.httr-oauth
.quarto/
/.quarto/

*_cache/
*_files/

raw-data/
data/
private-data/

*.log
*.aux
*.out
*.toc

pca_summary.*
A1*
analysis.html
readme.qmd
output/snp_check_*
